# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist/

# Azure Functions
.funcignore

# VS Code
.vscode/

# Astro
.astro/

# Environment Variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
